# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.syso
/build
/dist

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Wrap/Fountain files and output
*.fountain
*.wrap
*.pdf
*.html

# Ignore versioning
/vendor

# Ignore profiling files
*.profile

# Ignore builds
/wrap

# Editor
.vscode/
