<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>wrap</string>
	<key>CFBundleIconFile</key>
	<string>wrapApp.icns</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.wraparound</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>wrap</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>wrap</string>
	<key>CFBundleVersion</key>
	<string>0.1.4</string>
	<key>CFBundleDisplayName</key>
	<string>Wrap</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Fountain</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fountain</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>FOUNTAIN</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Wrap</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wrap</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>WRAP</string>
		</dict>
</array>
</dict>
</plist>
